@font-face{font-family:'Gods_word';src:url(http://choquevn.com/fonts/Gods_word.otf);src:url(http://choquevn.com/fonts/Gods_word.ttf) format("truetype");font-weight:400;font-style:normal}@font-face{font-family:'Utm-Viceroyjf';src:url(http://choquevn.com/fonts/Utm-Viceroyjf.otf);src:url(http://choquevn.com/fonts/Utm-Viceroyjf.ttf) format("truetype");font-weight:400;font-style:normal}html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,address,em,img,strong,dl,dt,dd,ul,li,fieldset,form,label,legend{border:0;font-family:inherit;font-size:100%;margin:0;outline:0;}:focus{outline:0}ol,ul{}img{width:auto\9;height:auto;max-width:100%;vertical-align:middle;-ms-interpolation-mode:bicubic}table{border-collapse:collapse;border-spacing:0;width:100%}html,body{height:100%}body{background-color:#fff;color:#000;font:normal normal 100% Arial,Helvetica,sans-serif;line-height:1.8em;font-size:.75em}h1,h2,h3,h4,h5,h6{line-height:normal;font-weight:400}input,select,textarea{color:#38444f;font:normal normal 1em Arial,Helvetica,sans-serif}input:focus,select:focus,textarea:focus,a:link,a:visited,a:hover,a:focus{outline:none}a:link,a:visited,a:hover,a:focus{text-decoration:none}a:link,a:visited{color:#148044}a:hover,a:focus{color:#29960B}.clear{clear:both}.tm-ic{background:url(http://choquevn.com/themes/images/sprite.png) no-repeat}.logo{padding:23px 0 22px}.top-right{margin-top:15px}.top-right ul li{display:inline-block;padding:13px 0 12px;text-transform:capitalize}.top-right ul li a{display:block;font:400 13px/15px Roboto,sans-serif;color:#cdffd7;padding:0 20px;border-left:1px solid #3eb455}.top-right ul li a:hover{color:#fff}.top-right ul li:first-child a{border-left:none}.bot-right{margin-top:10px}.bot-right ul li{display:inline-block;padding:0 30px}.bot-right ul li span{font:400 15px/20px Roboto,sans-serif;color:#333;display:inline-block;position:relative}.bot-right ul li span:before{content:'';width:7px;height:1px;background:#94c83d;position:absolute;left:20px;bottom:0}.bot-right ul li span .tm-ic{width:9px;height:16px;display:inline-block;background-position:0 0;vertical-align:bottom;margin-right:10px}.tm-search{width:370px;height:44px;border-radius:4px;position:relative;margin:37px 0 34px 80px}.tm-search input{width:100%;height:42px;background:#fff;border:none;border-radius:4px;padding:0 12px;font:400 14px/20px Roboto,sans-serif;color:#9c9c9c}.tm-search button{border:none;display:block;width:16px;height:16px;background-position:-18px 0;text-indent:-9999px;position:absolute;right:10px;top:50%;margin-top:-8px}.header-bot{background:#00951d;text-align:center;margin-top: 10px;}.tm-menu ul{height:38px;float:left;overflow:hidden;padding:0px}.tm-menu ul li{display:inline-block;position:relative;z-index:100;float:left}.tm-menu ul li a{display:block;font:400 12px/20px Roboto,sans-serif;color:#fff;border-right:solid 1px #3DA251;text-transform:uppercase;padding:9px 7px 9px;font-weight:bold;position:relative;overflow:hidden;-webkit-transform:translateZ(0);transform:translateZ(0)}.tm-menu ul li a:after{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#94c83d;-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.tm-menu ul li:hover a:after,.tm-menu ul li a.active:after{-webkit-transform:scaleY(1);transform:scaleY(1)}.tm-menu ul.menu li:hover ul li a:hover:after{background:#94c83d}.tm-menu ul.menu li ul{padding:0;width:200px;position:absolute;background:#FFF;opacity:0;visibility:hidden;transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;-moz-transition:all 300ms linear;-webkit-transition:all 300ms linear;z-index:1000;left:0;top:0;height:auto}.tm-menu ul.menu li:hover > ul{display:block;opacity:1;visibility:visible;top:50px;left:0}.tm-menu ul.menu li ul li{float:none;padding:0;border-bottom:1px solid #F7F0F3;display:block}.tm-menu ul.menu li ul li a{text-align:left;color:#555;padding:7px 15px 5px;display:block}.tm-menu ul.menu li:hover ul li a:after{background:transparent}.tm-menu ul.menu li:hover ul li a:hover{color:#fff}@-webkit-keyframes moveFromTop{from{opacity:0;-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);-o-transform:translateY(0%);transform:translateY(0%)}to{opacity:1;-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);-o-transform:translateY(0%);transform:translateY(0%)}}@-webkit-keyframes moveFromLeft{from{opacity:0;-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%)}to{opacity:1;-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%)}}@-webkit-keyframes moveFromRight{from{opacity:0;-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%)}to{opacity:1;-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);-o-transform:translateX(0%);transform:translateX(0%)}}.tm-left-ct{width:calc(100% - 300px);float:left}.tm-right-ct{width:270px;margin-left:30px;float:right}.content-top{margin-top:15px}.camera_caption,.camera_caption > div{background:transparent;padding:0;width:100%;height:100%}.table_{display:table;width:100%;height:100%}.table_cell{display:table-cell;width:100%;height:100%;vertical-align:middle;text-align:center}.slider{position:relative;margin-bottom:30px}.slider:after{content:'';display:block;width:40px;height:40px;background:url(http://choquevn.com/themes/images/sprite.png) no-repeat 0 -126px;position:absolute;left:50%;bottom:-20px;margin-left:-20px;cursor:pointer}.slider .img-txt{animation:top_ 1s forwards;width:100%;position:absolute;left:0;top:50%;margin-top:-80px}.slider p{animation:bot_ 1s forwards;width:100%;position:absolute;left:0;bottom:50%;margin-bottom:-25px}.slider p span{font:400 30px/40px Utm-Viceroyjf,sans-serif;color:#fff;background:#00951d;padding:5px 30px;display:inline-block}@keyframes top_{0%{top:0}100%{top:50%}}@keyframes bot_{0%{bottom:0}100%{bottom:50%}}.camera_wrap{margin-bottom:0!important}.camera_pie{position:relative;z-index:-1}.camera_pag{position:absolute;left:0;bottom:20px;width:100%;z-index:10}.camera_wrap .camera_pag .camera_pag_ul{text-align:center}.camera_wrap .camera_pag .camera_pag_ul li{width:17px;height:17px;background:#fff;border-radius:100px;border:2px solid #fff;margin:0 3px;padding:0;text-indent:-9999px}.camera_wrap .camera_pag .camera_pag_ul li span{display:none}.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent{border-color:#00951d;background:#dcf2b7}.content-top .list-banner ul{margin:0 -10px;list-style:none;padding:0px}.content-top .list-banner ul li{padding:0 10px;margin-bottom:30px}.content-top .list-banner a.img{display:block;overflow:hidden}.content-top .list-banner a.img::before{content:'';width:100%;height:100%;background:url(http://choquevn.com/themes/images/bg-banner.png) no-repeat;display:block;position:absolute;left:0;top:0}.content-top .list-banner .detail{position:relative}.content-top .list-banner h4{position:absolute;left:20px;bottom:20px}.content-top .list-banner h4 a{font:400 18px/20px Gods_word,sans-serif;color:#fff;position:relative}.content-top .list-banner h4 a::before{content:'';position:absolute;left:0;bottom:-5px;width:11px;height:2px;background:#94c83d}.box-shop{background-color: #FFFED2; padding: 5px; border: dotted #00951d;}.tm-support{border:1px solid #dce8de;background:#f5f4f4;margin-bottom:30px;border-radius:0 0 4px 4px}.tm-support h3{font:400 16px/22px Gods_word,sans-serif;text-transform:uppercase;color:#fff;background:#00951d;padding:8px 0;text-align:center;margin:-1px -1px 0;border-radius:4px 4px 0 0}.tm-support h3 i{width:18px;height:15px;background-position:-45px 0;display:inline-block;margin-right:9px}.tm-support ul{padding:20px 20px 5px;list-style:none}.tm-support ul li{margin-bottom:12px;text-align:center}.tm-support ul i{width:24px;height:24px;background-position:0 -26px;display:inline-block;margin-bottom:5px}.tm-support ul strong{font:400 16px/20px Roboto,sans-serif;color:#333;display:block;margin-bottom:5px}.tm-support ul span{font:400 14px/20px Roboto,sans-serif;color:#555;display:block;margin-bottom:5px}.banner-qc{margin-bottom:30px}.like-box{margin-bottom:30px}h3.tm-title{font:400 22px/normal Gods_word,sans-serif;text-transform:uppercase;margin-bottom:20px}h3.tm-title:after{content:'';display:block;width:106px;height:15px;background:url(http://choquevn.com/themes/images/sprite.png) no-repeat 0 -60px;margin-top:10px}.content-bot{margin-bottom:30px}.tm-tree-hot{position:relative}ul.list-tag{position:absolute;right:0;top:35px;margin:0 -15px;list-style:none}ul.list-tag li{float:left;padding:0 15px}ul.list-tag li a{display:block;font:400 13px/20px Roboto,sans-serif;color:#333;text-transform:uppercase}ul.list-tree li h4 a:hover,ul.list-tree li a.view-all:hover,.project ul.list-tag li a:hover,.tm-content-bot a.view-all:hover,.tm-content-bot h4 a:hover,ul.list-tag li a:hover{color:#f12c23}.tm-content-bot a.view-all:hover:before,ul.list-tree li a.view-all:hover:before{border-left-color:#f12c23}.view-all- a:hover{border-radius:0;background:#f12c23}.footer-bot p a:hover,ul.list-hd li a:hover{color:#331C1C}ul.list-hd li a:hover:before{border-left-color:#331C1C}.tm-menu ul
.tm-content-bot a.img{display:block;overflow:hidden}.tm-content-bot a.img img,ul.list-project li .detail img,ul.list-tree li a.img img,.content-top .list-banner a.img img{transition:all .7s ease-in-out}.tm-content-bot a.img:hover img,ul.list-project li .detail:hover img,ul.list-tree li a.img:hover img,.content-top .list-banner a.img:hover img{transform:scale(1.1)}ul.list-tree{margin:0 -15px;list-style:none;padding:0px}.list-hd{list-style:none;padding:0px}ul.list-tree li{width:24.33%;float:left;padding:0 15px;margin-bottom:20px;height:270px}ul.list-tree li a.img{height:155px!important;overflow:hidden;display:block;position:relative;border-radius:4px 4px 0 0}ul.list-tree li h4{overflow:hidden;text-transform:uppercase;height:40px;margin:10px 0 0}ul.list-tree li h4 a{font:500 15px/20px Roboto,sans-serif;color:#0A4E0F}ul.list-tree li a.view-all{font:400 13px/20px Roboto,sans-serif;color:#555;display:inline-block}ul.list-tree li a.view-all:before{content:'';display:inline-block;border:4px solid transparent;border-left:4px solid #666;margin-right:7px}.view-all-{text-align:center;margin-bottom:30px}.view-all- a{display:inline-block;font:400 13px/20px Roboto,sans-serif;color:#fff;background:#94c83d;padding:7px 20px;border-radius:20px;transition:all 1s ease}.tm-project{background-color:#00951d;background-size:cover;padding:11px 0}.project{position:relative}.footer-top h3.tm-title,.project h3.tm-title{color:#fff}.footer-top h3.tm-title:after,.project h3.tm-title:after{background-position:0 -84px}.project ul.list-tag li a{color:#fff}ul.list-project .slick-list{margin:0 -10px}ul.list-project li{padding:0 10px}ul.list-project li .detail{position:relative;height:175px;border-radius:4px;overflow:hidden}ul.list-project li .txt-pr{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;transition:all 1s ease}ul.list-project li .txt-pr:hover{opacity:1}ul.list-project li a.table_cell{background:url(http://choquevn.com/themes/images/bg-pr.png) repeat;font:400 13px/20px Roboto,sans-serif;color:#fff;text-transform:uppercase;padding:0 30px}ul.slick-dots{text-align:center;margin-top:30px}ul.slick-dots li{display:inline-block;border:2px solid transparent;width:15px;height:15px;border-radius:100%;padding:0;margin:0 5px}ul.slick-dots li button{display:block;background:#dcf2b7;width:13px;height:13px;border:none;text-indent:-9999px;border-radius:100%;margin:-1px}ul.slick-dots li.slick-active{border-color:#fff}ul.slick-dots li.slick-active button{background:#fff}.tm-content-bot{padding:16px 0}.tm-content-bot .img-gt{width:220px;float:left;margin-right:20px}.tm-content-bot .txt-gt{width:calc(100% - 240px);float:left;padding-top:15px}.tm-content-bot .txt-gt p{font:400 14px/20px Roboto,sans-serif;color:#444;margin-bottom:15px}.tm-content-bot a.view-all{font:400 13px/20px Roboto,sans-serif;color:#555;display:inline-block}.tm-content-bot a.view-all:before{content:'';display:inline-block;border:4px solid transparent;border-left:4px solid #666;margin-right:7px}.tm-content-bot h4{margin:10px 0 5px}.tm-content-bot h4 a{font:500 15px/18px Roboto,sans-serif;color:#333;text-transform:capitalize}#footer{background:url(http://choquevn.com/themes/images/bg-footer.jpg) no-repeat;background-size:cover}.footer-bot{padding:15px 0;border-top:1px solid #00b523}.footer-bot p{font:400 13px/20px Roboto,sans-serif;color:#cbfed5}.footer-bot p a{color:#cbfed5}.footer-top{padding:55px 0 0}.footer-top h3.tm-title{font-size:18px}.footer-top .col-md-4{margin-bottom:20px}ul.list-hd li{margin-bottom:15px}ul.list-hd li a{font:400 15px/20px Roboto,sans-serif;color:#fff}ul.list-hd li a:before{content:'';display:inline-block;border:5px solid transparent;border-left:5px solid #fff;margin-right:5px}.gallery{width:370px}.gallery ul{margin:0 -2.5px;list-style:none;padding:0px}.gallery ul li{padding:0 2.5px;float:left;width:33.33%;margin-bottom:5px}.gallery ul li a.img{position:relative;width:100%;height:80px;display:block}.gallery ul li a.img:before{content:'';width:100%;height:100%;background:url(http://choquevn.com/themes/images/bg-glr.png) no-repeat center;display:block;position:absolute;left:0;top:0;opacity:0;transition:all 1s ease}.gallery ul li a.img:hover:before{opacity:1}p.ct span{display:block;font:400 14px/20px Roboto,sans-serif;color:#fff;margin-bottom:10px}a.menu-mobile{position:absolute;z-index:100;top:13px;left:0;width:30px;height:24px;padding:0;cursor:pointer;border:none;outline:none;background:transparent;display:none}a.menu-mobile::before,a.menu-mobile::after,a.menu-mobile span{background:#fff}a.menu-mobile::before,a.menu-mobile::after{content:'';position:absolute;top:50%;left:0;width:100%;height:2px;pointer-events:none;-webkit-transition:-webkit-transform .25s;transition:transform .25s;-webkit-transform-origin:50% 50%;transform-origin:50% 50%}a.menu-mobile span{position:absolute;left:0;top:11px;overflow:hidden;width:100%;height:2px;text-indent:200%;-webkit-transition:opacity .25s;transition:opacity .25s}a.menu-mobile::before{-webkit-transform:translate3d(0,-10px,0) scale3d(0.8,1,1);transform:translate3d(0,-10px,0) scale3d(0.8,1,1)}a.menu-mobile::after{-webkit-transform:translate3d(0,10px,0) scale3d(0.8,1,1);transform:translate3d(0,10px,0) scale3d(0.8,1,1)}a.menu-mobile--open span{opacity:0}a.menu-mobile--open::before{-webkit-transform:rotate3d(0,0,1,45deg);transform:rotate3d(0,0,1,45deg)}a.menu-mobile--open::after{-webkit-transform:rotate3d(0,0,1,-45deg);transform:rotate3d(0,0,1,-45deg)}@media (max-width: 1190px){.tm-menu ul li a{}.content-top .tm-left-ct{float:none;width:100%}.content-top .tm-right-ct{float:none;width:100%;margin:0;display:none;}.content-top .list-banner ul li{float:left;width:33.33%}ul.list-tree li img,.content-top .list-banner a.img img{width:100%;height:100%}ul.list-tag li{display:none}ul.list-tag li.tm-show{display:block}ul.list-tree li{width:50%}.tm-content-bot .txt-gt{padding-top:0}.gallery{width:100%}.footer-top h3.tm-title{font-size:17px}.bot-right ul li{padding:0 15px}.top-right ul li a{padding:0 10px}.tm-search{width:300px;margin:37px 0 34px 30px}ul.list-project li .detail{height:165px}}@media (max-width: 990px){.header-bot .tm-menu,.header-top .container{position:relative}.logo{padding:5px 0}.bot-right{margin-top:15px}.tm-menu ul.menu{display:none}.header-bot{height:50px;margin-top:15px}.right-show{display: none !important;}.cls-callname{display: block !important;}.cls-call-action{display: block !important;position: fixed;bottom: 90px;left: 10px;width: 90px;height: 60px;}.yeucaugoilai .description{
		bottom: 8px;
	}	
	.yeucaugoilai .description .phone_animation{
		height: 110px;
		width: 110px;
		margin: 0;
	}
	.yeucaugoilai .description{
		left: -10px;
	}
	.yeucaugoilai .phone_animation_circle{
		width: 90px;
	    height:90px;
	    top:-20px;
	    left: 15x;
	}
	.yeucaugoilai .phone_animation_circle_fill_img{
		background-size: 70%;
	    width: 60px;
        height: 60px;
        top: -6px;
        left: 35px
	}
	.yeucaugoilai .phone_animation_circle_fill{
		width: 50px;
	    height: 50px;
	    top: 0px;
	    left: 40px;
	}.cls-call-action a{width: 66px;height: 38px;float: left;margin-left: 10px;margin-top: 3px}.tm-search{width:280px;float:none!important;margin:0;position:absolute;right:15px;bottom:-60px;height:40px;border-radius:0;border:none}.tm-search input{height:40px;border-radius:0}a.menu-mobile{display:block}#menu-mobile{background:#00951D;border-right:1px solid #33A249}.mm-title,.mm-menu .mm-header > a,.mm-menu .mm-navbar>*{font:500 15px/20px Roboto,sans-serif;color:#fff;text-transform:uppercase}.mm-menu .mm-listview > li > a.mm-prev:after,.mm-menu .mm-listview > li > a.mm-next:before{border-color:#33a249}.mm-menu .mm-listview > li > a.mm-prev:before,.mm-menu .mm-listview > li > a.mm-next:after,.mm-menu .mm-header .mm-btn:before,.mm-menu .mm-header .mm-btn:after{border-color:#fff}.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next),.mm-menu .mm-listview>li.mm-selected>span{background:#12902b}#menu-mobile .mcd-menu{display:block;margin:-20px 0 0}.mm-panels>.mm-panel>.mm-listview{margin:20px 0}.mm-panels>.mm-panel{padding:0}.mm-listview>li,.mm-listview>li .mm-next,.mm-listview>li .mm-next:before,.mm-listview>li:after,.mm-navbar{border-color:#d12d7c}.mm-listview>li:not(.mm-divider):after{left:0;border-color:#1B8831}.mm-listview>li:not(.mm-divider):before{content:'';display:block;position:absolute;right:0;top:0;left:0;border-bottom:1px solid #33A249}.mm-listview>li>a,.mm-listview>li>span{font:400 13px/20px Roboto,sans-serif;color:#fff;text-transform:uppercase}.mm-listview>li:last-child:after{display:none}ul.list-tree li a.img{height:230px}.tm-project,.tm-content-bot{padding:25px 0}.tm-content-bot .col-md-6{margin-bottom:25px}.tm-content-bot a.img img{width:100%;height:100%}}@media (max-width: 750px){.footer-bot p{width:100%;float:none!important;text-align:center}.tm-left-ct{width:100%;float:none}.tm-right-ct{width:100%;margin:0}ul.list-tag{display:none}.tm-support ul{margin:0 -10px;overflow:hidden}.tm-support ul li{width:50%;float:left;padding:0 10px;padding-left:35px}.banner-qc{display:none}}@media (max-width: 630px){.content-top .list-banner h4 a{font-size:14px}.logo{width:100%;text-align:center;float:none!important}.header-top .pull-right.text-center{float:none!important;margin:10px auto 0}}@media (max-width: 500px){.content-top .list-banner ul li{width:50%}ul.list-project li .detail{text-align:center}ul.list-project li .detail img{display:inline-block}}@media (max-width: 420px){.tm-search{width:240px}.camera_caption{display:none!important}ul.list-tree li,.tm-support ul li,.tm-content-bot .col-md-6,.footer-top .col-xs-6,.content-top .list-banner ul li{width:100%}.tm-content-bot .txt-gt,.tm-content-bot .img-gt{width:100%;float:none;margin-bottom:20px}}.css-lis{text-align:left!important;font-size:12pt;background-position:0 -26px;padding-left:30px}.detail a:hover {text-decoration:underline} .tm-tree-hot a:hover {text-decoration:underline}
/*.support-fixed {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: #1B2065;
        z-index: 9999;
        font-family: 'Roboto Condensed', sans-serif;
    }
	*/
.yeucaugoilai .description .phone_animation {
}
.yeucaugoilai .description {
    position: fixed;
    left: -30px;
    bottom: -40px;
    z-index: 100;
}
.text-box {width:95%;height:30px;margin-bottom:10px;padding-left:5px}
.hover-link{min-height: 150px!important;padding-left:0px!important;text-align: center;padding-right:8px!important}
.hover-link a:hover{text-decoration:underline!important}
.css-img-dt{width:95%!important;margin:10px 0px 0px 0px; height:75px!important}
.css-img-dt2{width:100%!important;margin:10px 0px 0px 0px; }
.all-cart{font-weight: bold;line-height:30px}
.cart-price{color:red;font-size:18pt;margin-right:20px}
.priceold{text-decoration: line-through}
.cart-price2{color:red;font-size:13pt;margin:20px 20px 0px 20px;font-weight:bold;text-align: center!important;}
.priceold2{text-decoration: line-through;text-align: center!important;font-weight:bold;color: #898989;}
.descriptions-top{margin-bottom: 10px;border-bottom: 1px solid #dedede;}
.descriptions{background: none repeat scroll 0 0 padding-box #FFFED2;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px 6px 6px 6px;
    color: #555;
    float: left;
    font-size: 11px;
    line-height: 14px;
    padding: 9px 10px 12px 6px;
    text-shadow: 0 1px 0 #FFF;
    margin: 5px 0 0 0;
}
.hover-cart:hover{text-decoration:none!important;background:#076d18!important}
.tags-s{color: #686967!important;font-size: 8pt;background: #ececec;padding: 3px;border-radius: 1px;}
.tags-s{color: #686967!important;font-size: 8pt;background: #ececec;padding: 3px;border-radius: 1px;}
.phone_animation{
    background-color: transparent;
    width: 200px;
    height: 200px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    visibility: visible;
    margin: 0 auto;
}
@media (max-width: 990px){.modal-content { width:96%!important;}}
.phone_animation_circle{
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30,30,30,0.4);
    border: 2px solid #bfebfc 9;
    opacity: 0.5;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-color: #00aff2;
}
.phone_animation_circle_fill{
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: #00aff2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .2;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.phone_animation_circle_fill_img{
    width: 60px;
    height: 60px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: rgba(30,30,30,0.1) url(http://choquevn.com/themes/images/iconphone.png) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-color: #FF0018;
}
.subcriblenow-home{
    text-align: left;	
	line-height:30px;
    border: 4px dashed #136D28;
    background-color: #ffffea;
    padding: 16px 16px 5px 16px;
    margin-bottom: 16px;
    font-size: 15px;
    font-family: arial;
    margin-top: 16px;
	margin-bottom:16px
}
.subcriblenow{
	    text-align: center;
    border: 4px dashed #136D28;
    background-color: #ffffea;
    padding: 16px 16px 5px 16px;
    margin-bottom: 16px;
    font-size: 15px;
    font-family: arial;
    margin-top: 16px;
    }
@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        -moz-transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1;
        -moz-opacity: .1;
        -webkit-opacity: .1;
        -o-opacity: .1
    }
    30% {
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5;
        -moz-opacity: .5;
        -webkit-opacity: .5;
        -o-opacity: .5
    }
    100% {
        -moz-transform: rotate(0) scale(1) skew(1deg);
        opacity: .6;
        -moz-opacity: .6;
        -webkit-opacity: .6;
        -o-opacity: .1
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -webkit-opacity: .1
    }
    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -webkit-opacity: .5
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: .1
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        -o-transform: rotate(0) kscale(.5) skew(1deg);
        -o-opacity: .1
    }
    30% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        -o-opacity: .5
    }
    100% {
        -o-transform: rotate(0) scale(1) skew(1deg);
        -o-opacity: .1
    }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -moz-transform: rotate(0) -moz-scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        -o-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -o-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -moz-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -moz-transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        -o-transform: rotate(0) scale(1) skew(1deg)
    }	