@{
//var baiBietNgauNhien = ViewData["TinTucNgauNhien"] as List<Model.EF.TT_POST>;
}

    @*<table width="320" border="0">
        <tr style="background: #009688; color: #ffffff; height: 30px">
            <td colspan="2" align="center">Bài viết ngẫu nhiên</td>
        </tr>
        @foreach (var item in baiBietNgauNhien)
        {
        <tr>
            <td colspan="2" align="left"><a href="/chi-tiet-tin-tuc/@id">- @item.title</a></td>
        </tr>   
        } 
    </table>*@