
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center; font-size:17px; margin:20px">
    <p style="font-weight:bold;font-size:19px"> HÃY LIÊN HỆ VỚI CHÚNG TÔI :</p>
    <p><span style="font-weight:bold">Điện thoại:  </span><a href="#">091 406 1648</a></p>
    <p><span style="font-weight:bold">Email: </span> <a href="#">dogodep@gmail.com</a></p>
    <p><span style="font-weight:bold">Facebook:  </span><a href="#">https://www.facebook.com/dogodep/</a></p>
    <p><span style="font-weight:bold">Trụ sở làm việc: </span>Xóm Chợ - thôn Đình Xuyên - Xã Hòa Nam -Huyện Ứng Hòa - Hà Nội</p>
</div>


