
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="font-size:17px; margin:20px;text-align:justify;text-indent:30px">
   <p style="font-weight:bold;text-align:center;font-size:19px;color:mediumpurple"> Chúng tôi là một trong những công ty bán đồ gỗ lớn tại Tp Hà Nội chuyên gia công xuất khẩu đồ gỗ qua thị trường nước ngoài</p>
    <p>Chúng tôi có các chuyên gia am hiểu sâu sắc nền tảng của ngành công nghiệp đồ gỗ và trang trí không gian nhà ở, từ giai đoạn chuẩn bị 
    nguyên liệu thông qua toàn bộ quá trình sản xuất để đóng gói và vận chuyển sản phẩm đến các quốc gia Châu âu và Bắc Mỹ. 
    Hơn 13 năm qua, sản phẩm gỗ của chúng tôi đáp ứng các tiêu chí khắc khe của các thị trường khó tính nhất trên thế giới, 
    và đã xuất khẩu hàng ngàn sản phẩm vào thị trường Hoa kỳ.Niềm đam mê và sáng tạo của chúng tôi được truyền tải đến 
    từng người thợ thủ công. Trên từng công đoạn sản xuất, các người thợ thủ công của chúng tôi tỉ mỉ soi xét từng góc cạnh của sản phẩm,
     chau chuốt đến từng chi tiết, kiểm tra sự đồng nhất màu sơn để mỗi một sản phẩm là một tác phẩm hoàn hảo.</p>
    <p>Nguyên liệu gỗ sử dụng được trồng tự nhiên, gỗ nguyên liệu được tẩm thuốc chống mối mọt áp lực cao hoặc sử dụng nguyên liệu gỗ có khả năng chống mối mọt. Độ ẩm kiểm tra cẩn thận bằng thiết bị để đáp ứng yêu cầu dưới 14. Sơn phủ được kiểm soát chất lượng theo tiêu chuẩn Hoa kỳ, đồ ngũ kim (hardware) sử dụng kim loại không bị oxy hóa, tất cả nguyên, vật liệu đầu vào đều an toàn tuyệt đối đối với người sản xuất và người sử dụng.</p>
    <p>Chúng tôi muốn khám phá và tạo ra các cơ hội cho thị trường Việt nam, nơi mà xứng đáng được sử dụng các sản phẩm chất lượng cao ngang với các quốc gia phát triển trên thế giới. Với niềm tin và sứ mệnh của mình chúng tôi giới thiệu đến bạn các giải pháp nội thất, cung cấp các sản phẩm gỗ thời trang và luôn nỗ lực để cải thiện mỗi ngày các dịch vụ, yêu cầu của các bạn cũng như trong cuộc sống của chúng tôi. Chúng tôi góp phần chung tay cùng tạo ra chuỗi sản xuất bền vững, bảo vệ môi trường, bảo vệ các giá trị di sản của thiên nhiên đồng thời bảo vệ sức khỏe của khách hàng và giữ gìn hệ sinh thái cho các thế hệ kế tiếp.</p>
    <p style="font-weight:bold;text-align:center;font-size:19px;color:mediumpurple ">Giá trị của chúng tôi</p>
    <p>Chúng tôi sẽ luôn nỗ lực để đảm bảo rằng khách hàng của chúng tôi thỏa mãn khi kết thúc mỗi tương tác nhỏ với chúng tôi. 
    Chúng tôi lắng nghe các bạn để bất kỳ thông tin phản hồi có thể giúp cải thiện mọi tương tác.
    Sự trung thực và minh bạch: Chúng tôi cung cấp sản phẩm gỗ đã được sử lý cong vênh, mối mọt, và được kiểm định, 
    kiểm tra độ rơi đảm bảo an toàn về mặt kết cấu.</p>
    <p>Sự hoàn hảo trong mọi việc chúng tôi làm: Chúng tôi quan tâm đến từng chi tiết trong từng bước của cuộc hành trình. 
    Hàng trăm bước nhỏ như vậy đảm bảo rằng mọi khách hàng đều có được sản phẩm và dịch vụ tuyệt vời.
Hợp tác với chúng tôi: Hàng ngày, chúng tôi thêm các sản phẩm mới tuyệt vời để giúp khách hàng của chúng tôi làm cho tổ ấm của họ trở nên đẹp
     hơn. Nếu bạn muốn hợp tác với chúng tôi và tham gia vào cuộc hành trình tạo ra một triệu ngôi nhà đẹp, hãy viết cho chúng tôi.</p>
</div>

