
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> Thống kê.
                <small class="pull-right">Date: @System.DateTime.Now.ToShortDateString()</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            From
            <input id="fromDate" type="date" name="fromDate" value="" class="form-control"/>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            To <input id="toDate" type="date" name="toDate" value="" class="form-control"/>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <br />
            <button class="btn btn-primary" onclick="getData()">Tính Toán</button>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <!-- /.row -->
    <div class="row">
        <br />
        <br />
        <br />
        <br />
        <div class="col-xs-12">
            <p class="lead">Thống kê</p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Số hóa đơn</th>
                        <td id="billNumber"></td>
                    </tr>
                    <tr>
                        <th>Số hợp đồng</th>
                        <td id="contractNumber"></td>
                    </tr>
                    <tr>
                        <th>Sản phẩm bán ra</th>
                        <td id="quantityNumber"></td>
                    </tr>
                    <tr>
                        <th>Tổng tiền</th>
                        <td id="total"></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="#" onclick="print()" class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-print"></i> Print</a>
        </div>
    </div>
</section>

@section script{
    
    <script>
        function getData() {
            console.log($('#fromDate').val());
            console.log($('#toDate').val());
            $.get({
                url: "/Admin/Statistic/StatisticApi",
                data: {
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#billNumber").html(data.billNumber);
                    $("#contractNumber").html(data.contractNumber);
                    $("#quantityNumber").html(data.quantityNumber);
                    $("#total").html(data.total);
                    console.log(data);
                }
            })
            //$.get("/Admin/Statistic/StatisticApi", { fromDate: $('#fromDate').val(), toDate: $('#toDate') }).done(function (data) {
            //    console.log(data);
            //});
        }
    </script>
    
}